{{!-- <div class="flexrow">
  {{#each stances as |stance id|}}
    <a class="smooth-scroll-to stance-tab {{ifClass (eq id ../system.currentStance.index) 'stance-button-selected' }}"
      style="" href="#stance-header-{{id}}">{{stance.style.name}}
      {{stance.form.name}}</a>
  {{/each}}
</div> --}}

<ol class="stance-list">
  {{#each stances as |stance id|}}
    <li>
      {{#if ../editable}}
        <ul class="grid">

          <li class="item grid-span-1 flex-row style-edit" data-item-id='{{stance.style._id}}'>
            {{#if stance.style}}
              <div class='item-name flex-grow flex-row'>
                <h4 class="style-title flex-grow flex-row">
                  <img src='{{stance.style.img}}' title='{{stance.style.name}}' width='24' height='24' />
                  <span class="flex-grow">{{stance.style.name}} Style</span>
                  <div>Range: {{stance.style.system.range}}</div>
                  <a class='item-control item-edit' title='{{localize "DOCUMENT.Edit" type="style"}}'>
                    <i class='fas fa-edit'></i>
                  </a>
                  <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type="style"}}'>
                    <i class='fas fa-trash'></i>
                  </a>
                </h4>
              </div>
            {{else}}
              <span>Please drag a Style onto the page!</span>
            {{/if}}
          </li>

          <li class="item grid-span-1 flex-row form-edit" data-item-id='{{stance.form._id}}'>
            {{#if stance.form}}
              <div class="item-name flex-grow flex-row">
                <h4 class="form-title flex-grow flex-row">
                  <img src="{{stance.form.img}}" title="{{stance.form.name}}" width="24" height="24" />
                  <span class="flex-grow">{{stance.form.name}} Form</span>
                  {{#each stance.form.system.actionDice as |dice|}}
                    <span class="dice font-x-large">{{dice}}</span>
                  {{/each}}
                  <a class="item-control item-edit" title="{{localize 'DOCUMENT.Edit' type='form'}}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="item-control item-delete" title="{{localize 'DOCUMENT.Delete' type='form'}}">
                    <i class="fas fa-trash"></i>
                  </a>
                </h4>
              </div>
            {{else}}
              <span>Please drag a Form onto the page!</span>
            {{/if}}
          </li>
        </ul>

      {{else}} {{!-- NOT EDITING --}}
        {{#if (and stance.form stance.style)}}
          <details class="stance {{ifClass (eq id ../system.currentStance.index) 'stance-selected' }}" {{setOpen (eq id
            ../system.currentStance.index) }}>
            <summary class="flex-row">
              <h2 id="stance-header-{{id}}" class="stance-header flex-row items-center">
                <span class="stance-label flex-row items-center" for="stance-{{id}}">
                  <span>{{stance.style.name}} {{stance.form.name}}</span>
                  <span class="range flex-grow">(Range: {{stance.style.system.range}})</span>
                  <button data-stance-id="{{id}}" class="dice width-auto font-x-large action-dice-roll">
                    {{#each stance.form.system.actionDice as |dice| ~}}
                      ANY_ON_{{dice}}
                    {{/each}}
                  </button>
                </span>
              </h2>
            </summary>

            <section>
              <div class="item flexrow" data-item-id="{{stance.form._id}}">
                <div class="stance-abilities">
                  <div><strong>Form Ability:</strong> {{{stance.form.system.abilityDescription}}}</div>
                  <div><strong>Style Ability:</strong> {{{stance.style.system.description}}}</div>
                  {{> "systems/panic-system/templates/actor/parts/actions.hbs"}}
                </div>
            </section>
          </details>
        {{else}}
          {{!-- ELSE, we don't have both --}}
          {{#if stance.form }}
            <h2>The {{stance.form.name}} needs a style to make a stance</h2>
          {{/if}}

          {{#if stance.style }}
            <h2>The {{stance.style.name}} needs a form to make a stance</h2>
          {{/if}}

          {{#if (and (not stance.form) (not stance.style)) }}
            <h2>Both Form and Style you must have to create a Stance.</h2>
          {{/if}}
        {{/if}}
      {{/if}}
    </li>
  {{else}}
    Please drag Forms & Styles to make stances (they are items in Foundry)
  {{/each}}
</ol>