<ol class="stance-list">
    {{#each stances as |stance id|}}
        <li>
            <details class="stance {{ifClass (eq id ../system.currentStance.index) 'stance-selected' }}">
                {{#if (and stance.form stance.style)}}
                    <summary>
                        <h2 id="stance-header-{{id}}" class="stance-header flex-row items-center">
                            {{!-- <input type="radio" id="stance-{{id}}" value="{{id}}" {{setCheckedStr id ../system.currentStance.index }}
              class="stance-select" name="stance" /> --}}
                            <span class="stance-label flex-row items-center" for="stance-{{id}}">
                                <span>{{stance.style.name}} {{stance.form.name}}</span>
                                <span class="range flex-grow">(Range: {{stance.style.system.range}})</span>
                                <button data-stance-id="{{id}}" class="dice width-auto font-x-large action-dice-roll">
                                    {{#each stance.form.system.actionDice as |dice| ~}}
                                        ANY_ON_{{dice}}
                                    {{/each}}
                                </button>
                            </span>
                        </h2>
                    </summary>

                    <section class="grid-span-1">
        <li class='item flexrow' data-item-id='{{stance.style._id}}'>
            {{#if stance.style}}
                {{#if ../editable}}
                    <div class='item-name'>
                        <div class='item-image'>
                            <a class='rollable' data-roll-type='item'>
                                <img src='{{stance.style.img}}' title='{{stance.style.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <h4 class="style-title">{{stance.style.name}} Style</h4>
                        <div>Range: {{stance.style.system.range}}</div>
                    </div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' title='{{localize "DOCUMENT.Edit" type="style"}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type="style"}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                {{/if}}
            {{else}}
                <span>Please drag a Style onto the page!</span>
            {{/if}}
        </li>
        </section>
        <section class="grid-span-1">
            <li class="item flexrow" data-item-id="{{stance.form._id}}">
                {{#if stance.form}}
                    {{#if ../editable}}
                        <div class="item-name">
                            <div class="item-image">
                                <a class="rollable" data-roll-type="item">
                                    <img src="{{stance.form.img}}" title="{{stance.form.name}}" width="24"
                                        height="24" />
                                </a>
                            </div>
                            <h4 class="form-title">{{stance.form.name}} Form</h4>
                            <button class="dice">
                                {{#each stance.form.system.actionDice as |dice|}}
                                    <span class="font-xx-large">{{dice}}</span>
                                {{/each}}
                            </button>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="{{localize 'DOCUMENT.Edit' type='form'}}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="item-control item-delete" title="{{localize 'DOCUMENT.Delete' type='form'}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    {{else}}
                        <div class="">
                            <div>Form Ability: {{{stance.form.system.abilityDescription}}}</div>
                            <div>Style Ability: {{{stance.style.system.description}}}</div>
                        </div>
                        {{#each stance.actions as |action action-index|}}
            <li class="action-item flexcol" style="margin-top: 1rem; background: rgb(0, 224, 0);">
                <div class="form-group">
                    <h2 class="flex-row"
                        style="background-color: green; margin-bottom: 0; color: white; border-bottom: 0;">
                        {{!-- Start of cost --}}
                        <div class="cost-options flex-row">
                            {{#each (parseActionCost action.cost) as |actionCost index|}}
                                <div
                                    class="cost-option {{ifClass (canAfford @root.actor actionCost) 'afford' 'not-afford' }}">
                                    <label>
                                        {{#if (canAfford @root.actor actionCost)}}
                                            <input class="cost-select" {{setCheckedStr index 0}} type="radio"
                                                name="cost-{{id}}-{{action-index}}"
                                                id="cost-{{id}}-{{action-index}}-{{index}}"
                                                value="{{this.resource}}|{{this.amount}}">
                                        {{/if}}
                                        {{#if (eq this.resource "dice")}}
                                            {{this.amount}}+
                                        {{else}}
                                            {{this.amount}} {{capitalize this.resource}}
                                        {{/if}}
                                    </label>
                                </div>
                            {{/each}}
                        </div>
                        {{!-- end cost --}}
                        : <span class="flex-grow">{{action.title}}</span>
                        <button class="spend-action" data-cost="{{action.cost}}" data-action-index="{{action-index}}"
                            style=" width: auto; color: white;">Spend</button>
                    </h2>
                </div>
                <div style="padding: 0.5em;">
                    {{{action.description}}}
                </div>
            </li>
    {{/each}}
    {{/if}}
    {{else}}
        <span>Please drag a form onto the page!</span>
        {{/if}}
        </li>
        </section>
        {{else}}
            <h2>Both Form and Style you must have to create a Stance.</h2>
            {{/if}}
            </details>
            </li>
            {{/each}}

</ol>