{{#if @root.editable}}
    <ul>
        {{#each archetypes as |archetype|}}
            <li class="item flexrow archetype-header" data-item-id="{{archetype._id}}">
                <h2 class=' item-name'>
                    Archetype: {{archetype.name}}
                </h2>
                {{#each this.system.abilities as |ability index|}}
                    <div class='ability'>
                        {{#if ability.title}}
                            <div>{{ability.title}}</div>
                        {{else}}
                            <div>{{ability.heroType}} {{archetype.name}}</div>
                        {{/if}}

                        <div>{{{ability.description}}}</div>
                    </div>
                {{/each}}
                <div class='item-controls'>
                    <a class='item-control item-edit' title='{{localize "DOCUMENT.Edit" type="archetype"}}'>
                        <i class='fas fa-edit'></i>
                    </a>
                    <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type="archetype"}}'>
                        <i class='fas fa-trash'></i>
                    </a>
                </div>
            </li>
        {{/each}}
    </ul>

{{else}}
    {{#each archetypes as |archetype|}}
        <div class="archetype-header">
            {{#each system.abilities as |ability index|}}
                {{#if (eq ability.heroType @root.actor.system.heroType)}}
                    <div class='ability'>
                        {{#unless @root.editable}}
                            <h3>
                                {{#if ability.title}}
                                    {{ability.title}}
                                {{else}}
                                    {{ability.heroType}} {{archetype.name}}
                                {{/if}}
                            </h3>

                            <div class="ability-description">{{{ability.description}}}</div>
                        {{/unless}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
    {{/each}}
{{/if}}