Archie?

{{#each archetypes as |archetype|}}
    {{json archetype}}
    <div class="archetype-header">
        <h4>{{this.name}}</h4>

        {{#each system.abilities as |ability index|}}
            <div class='ability'>
                {{#if @root.editable}}
                    <select name="system.abilities.{{@index}}.heroType">
                        <option value="Focused" {{#if (eq ability.heroType "Focused" )}}selected{{/if}}>Focused
                        </option>
                        <option value="Fused" {{#if (eq ability.heroType "Fused" )}}selected{{/if}}>Fused</option>
                        <option value="Frantic" {{#if (eq ability.heroType "Frantic" )}}selected{{/if}}>Frantic
                        </option>
                    </select>

                    <input type="text" name="system.abilities.{{index}}.title" value="{{ability.title}}"
                        placeholder="Ability Title {{index}}" />

                    {{!-- <input type="text" name="system.abilities.{{index}}.description" value="{{ability.description}}"
                            placeholder="Ability description {{index}}" /> --}}

                    <div class="archetype-editor-box">
                        {{editor action.description
                                target=(concat 'system.abilities.{{index}}.' @index '.description')
                        engine='prosemirror'
                        button=true
                        editable=@root.editable}}
                    </div>
                {{else}}
                    <div>{{ability.title}}</div>
                    <div>{{{ability.description}}}</div>
                    <div>{{{ability.heroType}}}</div>
                {{/if}}
            </div>
        {{/each}}
    </div>
{{/each}}