Archie?

{{#each archetypes as |archetype|}}
    <div class="archetype-header">
        {{#each system.abilities as |ability index|}}
            {{#if (eq ability.heroType @root.system.heroType)}}
                <div class='ability'>
                    {{#if @root.editable}}
                        (link to change archetype here)
                    {{else}}
                        {{#if ability.title}}
                            <div>{{ability.title}}</div>
                        {{else}}
                            <div>{{ability.heroType}} {{archetype.name}}</div>
                        {{/if}}

                        <div>{{{ability.description}}}</div>
                    {{/if}}
                </div>
            {{else}}
                {{json ability.heroType}} != {{log @root}}
            {{/if}}
        {{/each}}
    </div>
{{/each}}