<form class='sheet archetype-sheet' autocomplete='off'>
    <header class='sheet-header archetype-header'>
        <div class='header-fields archetype-name'>
            <h1 class='archetype-name'>
                {{#if editable}}
                    <input name='system.name' type='text' value='{{system.name}}' placeholder='Name' />
                    <span>Archetype</span>
                {{else}}
                    {{system.name}} Archetype
                {{/if}}
            </h1>
            <div class='archetype-slug'>
                {{#if editable}}
                    <label>Style ID:</label>
                    ID used for styles: <input type="text" name="system.archetypeSlug"
                        value="{{system.archetypeSlug}}" />
                {{else}}
                    ID for styles: <code>{{system.archetypeSlug}}</code>
                {{/if}}
            </div>
        </div>

        <div class="">
            {{#if editable}}
                <label>Complexity:</label>
                <input style="width: 5em" type="number" name="system.complexity" value="{{system.complexity}}"
                    min="0" />
            {{else}}
                Complexity: {{system.complexity}}
            {{/if}}
        </div>
        <button type="button" class="edit-toggle"
            style="position: absolute; top: 0rem; right: 0;">{{#if editable}}View{{else}}Edit{{/if}}</button>
    </header>

    <section class='sheet-body'>
        <div class='archetype-abilities'>
            <h2>Abilities</h2>
            {{#each system.abilities as |ability index|}}
                <div class='ability'>
                    {{#if ../editable}}
                        <select name="system.abilities.{{@index}}.heroType">
                            <option value="Focused" {{#if (eq ability.heroType "Focused" )}}selected{{/if}}>Focused
                            </option>
                            <option value="Fused" {{#if (eq ability.heroType "Fused" )}}selected{{/if}}>Fused</option>
                            <option value="Frantic" {{#if (eq ability.heroType "Frantic" )}}selected{{/if}}>Frantic
                            </option>
                        </select>

                        <input type="text" name="system.abilities.{{index}}.title" value="{{ability.title}}"
                            placeholder="{{ability.heroType}} {{../system.name}}">
                        <div class="archetype-editor-box">
                            <textarea type="text" name="system.abilities.{{index}}.description"
                                value="{{ability.description}}"
                                placeholder="Ability description {{index}}">{{ability.description}}</textarea>
                        </div>

                        {{!-- <div class="archetype-editor-box">
                            {{editor ability.description
                                target=(concat 'system.abilities.' index '.description')
                                engine="tinymce"
                                button=true
                                editable=@root.editable}}
                        </div> --}}
                    {{else}}
                        <div class="archetype-header">
                            <div class='ability'>
                                <h3>
                                    {{#if ability.title}}
                                        {{ability.title}}
                                    {{else}}
                                        {{ability.heroType}} {{@root.system.name}}
                                    {{/if}}
                                </h3>

                                <div class="ability-description">{{{ability.description}}}</div>
                            </div>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
            {{#if editable}}
                <button type="button" class="add-ability">Add Ability</button> (note: by default you have one for each
                hero type)
            {{/if}}
        </div>


    </section>
</form>